.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat center/100%,
                url('../images/hero-banner.jpg') no-repeat center/cover;
    height: 100vh;
    min-height: 480px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

    .heading-content {
        margin: auto;
        height: 80%;       

        .main-title {
            color: $color__brand-yellow;
            font-size: 2rem;
            line-height: 1.8;
            font-family: $font__title;
            text-shadow: 2px 2px 4px $color__background;
            padding-bottom: $base_spacing_unit * 2;

            @include tablet {
                font-size: 3rem;
            }
        }
    }

    p {
        color: $color__background;
        font-family: $font__heading;
        font-size: 1.5rem;
        text-shadow: 2px 2px 2px $color__text;
        text-transform: uppercase; 

        @include tablet {
            font-size: 2rem;
        }
    }

    .fas {
        font-size: 20px;
        color: $color__background;
        flex-basis: 100%;
        padding-bottom: $base_spacing_unit/2;
    }
}

#projects ul {
    box-sizing: border-box;

    li {
        padding: 0;
    }

    .project {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            font-size: .9rem;
            padding: 0;
            display: block;
            @include tablet {
                height: 70px;
            }
 
        }
        .thumbnail {
            height: 200px;
            width: 90%;
            margin: auto;
            border-radius: 5px;
            border: 1px solid rgba(128, 128, 128, 0.5);
            box-shadow: 2px 2px 5px #bdbdbd;
            transition: opacity .5s;
            margin: $base_spacing_unit/2 0;

            &:hover {
                opacity: .5;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        
        .quotesondev-thumbnail {
            background: url('../images/screenshots/quotesondev-1.jpg') no-repeat center/cover;
        }

        .inhabitent-thumbnail {
            background: url('../images/screenshots/inhabitent-1.jpg') no-repeat center/cover;
        }

        .pong-thumbnail {
            background: url('../images/screenshots/pong-1.jpg') no-repeat center/cover;
        }

        .instanews-thumbnail {
            background: url('../images/screenshots/instanews-1.jpg') no-repeat center/cover;
        }

        .aloha-thumbnail {
            background: url('../images/screenshots/aloha-1.jpg') no-repeat center/cover;
        }

    }   
}

.flickity-viewport {
    width: 100%; 
}
.main-carousel {
    width: 90%;
    margin: auto;
}

.carousel-cell {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    cursor: auto;

    @include tablet {
        width: 50%;
    }

    @include desktop {
        width: 25%;
    }
}

.flickity-page-dots {
    margin: $base_spacing_unit 0 $base_spacing_unit*2 0;
    // padding-bottom: $base_spacing_unit * 2;
    position: static;
}

#skills {
    // margin-top: $base_spacing_unit * 2;
}

#skills, #interests {
    padding: 0 $base_spacing_unit;
    @include tablet {
        padding: 0 $base_spacing_unit*4;
    } 
}

.fab {
    padding-right: $base_spacing_unit/3;
}

#skills, #interests {
    li {
        background: $color__brand-blue;
        color: $color__background;
        border-radius: 20px;
        margin: $base_spacing_unit/2;
    }
}