body {
    background-color: $color__background;
    font-family: $font__main;
    color: $color__text;
    line-height: 1.75;
    font-size: 14px;
    text-align: center;
    min-width: 300px;

    @include tablet {
        font-size: 16px;
    }
}


h1, h2, h3 {
    font-family: $font__heading;
    text-transform: uppercase;
    margin: $base_spacing_unit * 2 0 $base_spacing_unit 0;
}

h1 {
    font-size: 1.8rem;
    @include tablet {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.5rem;
    @include tablet {
        font-size: 1.8rem;
    }
}

h3 {
    font-size: 1.3rem;
}

li {
    display: inline-block;
    padding: $base_spacing_unit/4 $base_spacing_unit;
    transition: background-color .5s;
}

a {
    color: $color__brand-red;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
        color: $color__brand-yellow;
        transition: color .5s;
    }
}

p {
    display: inline-block;
    padding: 0 $base_spacing_unit;
    margin-bottom: $base_spacing_unit;

    &:last-of-type {
        margin-bottom: 0;
    }


    @include tablet {
        // padding: 0 $base_spacing_unit * 4;
        max-width: 70%;
        margin: auto;
        margin-bottom: $base_spacing_unit;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

