@font-face {
    font-family: "OpenSans";
    src: url("../../public/fonts/OpenSans-Light.eot");
    src: url("../../public/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/OpenSans-Light.woff") format("woff"),
        url("../../public/fonts/OpenSans-Light.ttf") format("truetype"),
        url("../../public/fonts/OpenSans-Light.svg#opensans") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "James Fajardo";
    src: url("../../public/fonts/JamesFajardo.eot");
    src: url("../../public/fonts/JamesFajardo.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/JamesFajardo.woff") format("woff"),
        url("../../public/fonts/JamesFajardo.ttf") format("truetype"),
        url("../../public/fonts/JamesFajardo.svg#opensans") format("svg");
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

