header {
    width: 100%;
    padding-top: $base_spacing_unit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px;
    @include tablet {
        grid-template-columns: 60px 1fr;
    }
    z-index: 1;
    text-shadow: 1px 1px 2px $color__light;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 400px;
    

    .logo {
        img {
            width: 60px;
            @include tablet {
                padding-left: $base_spacing_unit;
            }
        }
    }

    nav {
        letter-spacing: .2rem;
        @include tablet {
            text-align: right;
            padding-right: $base_spacing_unit;
        }

        li {
            padding: 0 $base_spacing_unit/3;

            &:first-of-type {
                padding-left: 0;
            }

            @include tablet {
                padding: 0 $base_spacing_unit/2;
            }

            @include desktop {
                padding: 0 $base_spacing_unit;
            }

            a {
                color: $color__background;
                text-transform: uppercase;
                text-decoration: none;

                &:focus,
                &:hover,
                &:active {
                    color: $color__brand-yellow;
                }
            }
        }
    }
}

.inverse-header {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)) no-repeat center/100%,
                lighten($color__text, 20);
    border-bottom: $border__solid;
    position: fixed;
    overflow: hidden;
    padding-top: 0;
}