// colors
$color__background: #ffffff;
$color__text: #172c33;
$color__light: #5d5254;
$color__brand-red: #da3344;
$color__brand-yellow: #f8c03f;
$color__brand-blue: #376979;

// borders
$border__solid: 1px solid $color__text;

// typography
$font__main: 'OpenSans';
$font__title: 'James Fajardo';
$font__heading: 'Montserrat';

// RWD
$tablet-width: 600px;
$desktop-width: 1000px;

// layout
$base_spacing_unit: 1.2rem;

@include tablet {
    $base_spacing_unit: 1.5rem;
}
