/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "OpenSans";
  src: url("../../public/fonts/OpenSans-Light.eot");
  src: url("../../public/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/OpenSans-Light.woff") format("woff"), url("../../public/fonts/OpenSans-Light.ttf") format("truetype"), url("../../public/fonts/OpenSans-Light.svg#opensans") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #ffffff;
  font-family: "OpenSans";
  color: #172c33;
  line-height: 1.75;
  font-size: 14px;
  text-align: center;
  min-width: 400px; }
  @media (min-width: 600px) {
    body {
      font-size: 16px; } }

h1, h2, h3 {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  padding: 3rem 0 1.5rem 0; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.3rem; }

li {
  display: inline-block;
  padding: 0.375rem 1.5rem; }

a {
  color: #da3344;
  text-decoration: none;
  font-weight: bold; }
  a:hover, a:focus, a:active {
    color: #f8c03f;
    -webkit-transition: color .5s;
    transition: color .5s; }

p {
  padding: 0 1.5rem; }
  @media (min-width: 600px) {
    p {
      padding: 0 6rem; } }

footer {
  margin-top: 3rem;
  padding: 0.75rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))) no-repeat center/100%, #172c33;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)) no-repeat center/100%, #172c33; }
  footer .fab {
    font-size: 25px;
    padding: 0.375rem; }
  footer p {
    color: #ffffff; }

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 60px;
  z-index: 1;
  text-shadow: 1px 1px 2px #5d5254;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 400px; }
  @media (min-width: 600px) {
    header {
      grid-template-columns: 60px 1fr;
      grid-template-rows: 60px; } }
  header .logo {
    padding-top: 0.75rem; }
    header .logo img {
      width: 60px; }
      @media (min-width: 600px) {
        header .logo img {
          padding-left: 1.5rem; } }
  header nav {
    padding-top: 1rem;
    letter-spacing: .2rem; }
    @media (min-width: 600px) {
      header nav {
        text-align: right;
        padding-right: 1.5rem; } }
    header nav li {
      padding: 0 0.5rem; }
      header nav li:first-of-type {
        padding-left: 0; }
      @media (min-width: 600px) {
        header nav li {
          padding: 0 0.75rem; } }
      @media (min-width: 1000px) {
        header nav li {
          padding: 0 1.5rem; } }
      header nav li a {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none; }
        header nav li a:focus, header nav li a:hover, header nav li a:active {
          color: #f8c03f; }

.inverse-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.4))) no-repeat center/100%, #376979;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)) no-repeat center/100%, #376979;
  border-bottom: 1px solid #172c33;
  position: fixed;
  overflow: hidden;
  padding-top: 0;
  opacity: .9; }

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) no-repeat center/100%, url("../../public/images/hero-banner.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat center/100%, url("../../public/images/hero-banner.jpg") no-repeat center/cover;
  height: 100vh; }
  .banner .heading-content {
    margin: auto;
    text-align: center;
    padding-top: 4.5rem; }
    @media (min-width: 600px) {
      .banner .heading-content {
        padding-top: 7.5rem; } }
    .banner .heading-content .main-title {
      color: #fad070;
      font-size: 3rem;
      line-height: 1.8;
      font-family: "Audiowide";
      text-shadow: 2px 2px 4px #ffffff;
      padding-bottom: 3rem; }
  .banner p {
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #172c33;
    text-transform: uppercase; }
  .banner .fas {
    font-size: 35px;
    color: #ffffff;
    position: absolute;
    bottom: 1.5rem; }

#projects ul {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  @media (min-width: 600px) {
    #projects ul {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1000px) {
    #projects ul {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  #projects ul .project div {
    height: 200px;
    border-radius: 5px;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    margin-bottom: 0.75rem; }
    #projects ul .project div:hover {
      opacity: .5; }
  #projects ul .project .inhabitent-thumbnail {
    background: url("../../public/images/screenshots/inhabitent-1.jpg") no-repeat center/cover; }
  #projects ul .project .pong-thumbnail {
    background: url("../../public/images/screenshots/pong-1.jpg") no-repeat center/cover; }
  #projects ul .project .instanews-thumbnail {
    background: url("../../public/images/screenshots/instanews-1.jpg") no-repeat center/cover; }
  #projects ul .project .aloha-thumbnail {
    background: url("../../public/images/screenshots/aloha-1.jpg") no-repeat center/cover; }

#skills, #interests, #projects ul {
  padding: 0 1.5rem; }
  @media (min-width: 600px) {
    #skills, #interests, #projects ul {
      padding: 0 6rem; } }
  #skills .fab, #interests .fab, #projects ul .fab {
    padding-right: 0.5rem; }

#skills li, #interests li {
  background: #dad4d5;
  border-radius: 20px;
  margin: 0.75rem; }
